@import '../scss/index';

.footer {
  display: flex;
  justify-content: flex-start;
  padding: 0 .75rem;
  flex-flow: column;

  .footer-copyright {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: block;
    font-size: 14px;
    color: lighten($gray, 20);

    @media only screen and (max-width: $screen-xl) {
      display: none;
    }
  }

  .footer-tip {
    margin: 1rem 0 5rem;
    padding: .75rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #ccc;
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;

    &.active {
      opacity: 1;
      visibility: initial;
    }

    span {
      display: block;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  .footer-items {
    display: flex;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    .footer-link {
      margin-right: .75rem;
      color: #fff;

      &:hover {
        color: lighten($light-warning, 5);
      }
    }
  }
}
