@import '../scss/index';

.footer {
  padding: 0 .75rem;
  display: flex;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .footer-item {
    color: #fff;
    margin-right: .75rem;

    &:hover {
      color: lighten($light-warning, 25);
    }
  }
}