@import '../scss/index';

.footer {
  padding: 0 .75rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;

  .footer-copyright {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: block;
    font-size: 12px;
    color: $gray;

    @media only screen and (max-width: $screen-xl) {
      display: none;
    }
  }

  .footer-tip {
    margin-bottom: 1rem;
    color: #fff;

    span {
      display: block;
      font-size: 14px;
    }
  }

  .footer-items {
    display: flex;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .footer-link {
      color: #fff;
      margin-right: .75rem;

      &:hover {
        color: lighten($light-warning, 25);
      }
    }
  }
}