@import '../scss/index';

.formation {
  position: relative;
  margin: 0 auto 1rem;
  height: 350px;
  width: inherit;
  background-image: url('../images/formation_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
  border: 1px solid transparent;
  /* border: 1px solid red; */

  .box {
    position: absolute;
    width: 103px;
    height: 103px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    &.over {
      border: 1px solid $warning;
      background-color: rgba(200, 200, 255, .3);
    }
  }

  &:not(.no-queue) .queue {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #ffef59;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(#000, .5);
  }

  &:not(.no-type) .type {
    position: absolute;
    right: -4px;
    top: -1px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;

    &[data-type='1'] {
      background-image: url($icon_charType__warrior);
    }

    &[data-type='2'] {
      background-image: url($icon_charType__defender);
    }

    &[data-type='3'] {
      background-image: url($icon_charType__magician);
    }

    &[data-type='4'] {
      background-image: url($icon_charType__supporter);
    }
  }

  &.no-backimage {
    background-image: unset;
  }

  &:not(.no-backcolor) .box {
    &[data-type='1'] {
      background-color: #6e2429;
    }

    &[data-type='2'] {
      background-color: #1763b4;
    }

    &[data-type='3'] {
      background-color: #3e3865;
    }

    &[data-type='4'] {
      background-color: #80980f;
    }
  }
}