.formation {
  position: relative;
  margin: 0 auto;
  height: 350px;
  width: 700px;
  background-image: url('../images/formation_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: .25rem;
  /* border: 1px solid red; */
  .box {
    position: absolute;
    width: 103px;
    height: 103px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

    &.ftype-1 {
      background-color: #6e2429;
    }

    &.ftype-2 {
      background-color: #1763b4;
    }

    &.ftype-3 {
      background-color: #3e3865;
    }

    &.ftype-4 {
      background-color: #80980f;
    }

    /* 14+120*(x-1)+11 */
    &[data-id='a-1'] {
      top: 9px;
      left: 13px;
      background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2934icon.png');
    }

    &[data-id='a-2'] {
      top: 9px;
      left: 128px;
      background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2924icon.png');
    }

    &[data-id='a-3'] {
      top: 9px;
      left: 242px;
      background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2914icon.png');
    }

    &[data-id='a-4'] {
      top: 9px;
      left: 356px;
      background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2904icon.png');
    }
  }
}