.formation {
  position: relative;
  margin: 0 auto;
  height: 350px;
  width: 700px;
  background-image: url('../images/formation_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
  /* border: 1px solid red; */
  .box {
    position: absolute;
    width: 103px;
    height: 103px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    &.over {
      background-color: rgba(200, 200, 255, .3);
    }

    &[data-type='1'] {
      background-color: #6e2429;
    }

    &[data-type='2'] {
      background-color: #1763b4;
    }

    &[data-type='3'] {
      background-color: #3e3865;
    }

    &[data-type='4'] {
      background-color: #80980f;
    }
  }
}