@import '../scss/index';

#header {
  font-size: 20px;

  @media only screen and (max-width: $screen-xl) {
    text-align: center;
  }

  .header-text {
    display: block;
    margin: 1rem 0;
    width: 600px;
    color: $warning;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:visited {
      color: $warning;
    }

    small {
      @media only screen and (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  /* overwrite flag-select */
  .flag-select {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .arrow-down {
      display: none;
      color: #fff;
    }
  }
}
