@import "../scss/index";

.list {
  float: right;
  margin: 0 1rem 0 0.2rem;
  padding: 0.8rem 0;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  @media only screen and (max-width: $screen-xl) {
    float: none;
    margin: 1rem auto 0;
  }
}

.types {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.8rem;

  /* border: 1px solid red; */
  .type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 45px;
    /* stylelint-disable */
    font-family: $en-title-font;
    /* stylelint-enable */
    background-color: #3e4e56;
    border: 1px solid #bbb;
    border-radius: 0.25rem;
    outline: none;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, 0.5);
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer;

    &.active {
      background-color: rgb(54, 139, 196);
    }

    span {
      font-size: 18px;
      color: #fff;
    }

    i {
      display: inline-block;
      margin-top: 3px;
      width: 34px;
      height: 34px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  font-size: 18px;

  .filter-title {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label {
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer;
  }

  .star {
    margin-right: auto;
  }

  .name {
    margin-left: auto;
  }
}

.search {
  margin: 1rem auto;
  width: 100%;
  text-align: center;

  .search-text {
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    width: 625px;
    font-size: 18px;
    font-family: $input-font;
    color: #ddd;
    background-color: $dark;
    border: 1px solid $gray;
    border-radius: 0.25rem;
    outline: none;

    &::placeholder {
      color: #ccc;
    }
  }
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 1.6rem;
  height: 65vh;
  scrollbar-color: $gray $light-black;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #3e4e56;
    }

    &::-webkit-scrollbar {
      background-color: $light-black;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
