.list {
  padding: .8rem 0;
  width: 700px;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .3);
}

.types {
  margin-bottom: .8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  .type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 45px;
    background-color: #3e4e56;
    border: 1px solid #bbb;
    border-radius: .25rem;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, .5);
    outline: none;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    cursor: pointer;

    &.active {
      background-color: rgb(54, 139, 196);
    }

    span {
      font-size: 18px;
      color: #fff;
    }

    i {
      margin-top: 3px;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: inline-block;
    }

    &.attacker i {
      background-image: url('https://book.browndust.app/src/img/icon/icon_charType__warrior.png');
    }

    &.defender i {
      background-image: url('https://book.browndust.app/src/img/icon/icon_charType__defender.png');
    }

    &.magician i {
      background-image: url('https://book.browndust.app/src/img/icon/icon_charType__magician.png');
    }

    &.supporter i {
      background-image: url('https://book.browndust.app/src/img/icon/icon_charType__supporter.png');
    }
  }
}

.filter {
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;

  .filter-title {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  label {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    cursor: pointer;
  }

  .star {
    margin-right: auto;
  }

  .name {
    margin-left: auto;
  }
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 1.6rem;
  height: 70vh;
}
   