@import '../scss/index';

.list {
  float: right;
  margin: 0 1rem 0 .2rem;
  padding: .8rem 0;
  width: 700px;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .3);

  @media only screen and (max-width: $screen-xl) {
    float: none;
    margin: 1rem auto 0;
  }
}

.types {
  margin-bottom: .8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  .type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 45px;
    background-color: #3e4e56;
    border: 1px solid #bbb;
    border-radius: .25rem;
    box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, .5);
    outline: none;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    cursor: pointer;

    &.active {
      background-color: rgb(54, 139, 196);
    }

    span {
      font-size: 18px;
      color: #fff;
    }

    i {
      margin-top: 3px;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: inline-block;
    }

    &.attacker i {
      background-image: url($icon_charType__warrior);
    }

    &.defender i {
      background-image: url($icon_charType__defender);
    }

    &.magician i {
      background-image: url($icon_charType__magician);
    }

    &.supporter i {
      background-image: url($icon_charType__supporter);
    }
  }
}

.filter {
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;

  .filter-title {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  label {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    cursor: pointer;
  }

  .star {
    margin-right: auto;
  }

  .name {
    margin-left: auto;
  }
}

.search {
  margin: 1rem auto;
  width: 100%;
  text-align: center;

  .search-text {
    margin: 0 auto;
    padding: .25rem .5rem;
    width: 625px;
    font-size: 18px;
    color: #ccc;
    border: 1px solid $gray;
    background-color: $dark;
    border-radius: .25rem;
    outline: none;
  }
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 1.6rem;
  height: 70vh;
  scrollbar-color: $gray $light-black;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $light-black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
  }
}
   