@import '../scss/index';

.toolbar {
  margin-bottom: .8rem;
  padding: 1rem .75rem;
  display: flex;
  flex-flow: column;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .3);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  .options {
    margin-bottom: 1rem;
    user-select: none;

    .option-title {
      display: inline-block;
      width: 95px;
    }

    .download-size-custom {
      padding: 0 .3rem;
      height: 24px;
      width: 60px;
      border: 1px solid $dark;
      border-radius: .25rem;
      font-size: 16px;
      color: #fff;
      outline: none;
      background-color: lighten(#3e4e56, $amount: 10);

      &:focus,
      &:hover {
        background-color: lighten(#3e4e56, $amount: 20);
      }
    }

    > div {
      width: 85px;
    }
  }

  .commands {
    display: flex;

    .tool {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 .5rem;
      width: 120px;
      height: 40px;
      background-color: #3e4e56;
      border: 1px solid #bbb;
      border-radius: .25rem;
      box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, .5);
      outline: none;
      cursor: pointer;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: inherit;
      }

      &.tool-download {
        background-color: rgba(54, 139, 196, .6);
      }

      &.tool-queue {
        width: 130px;
        background-color: rgba(#6e2429, .7);

        &:hover {
          background-color: lighten(#6e2429, 10);
        }

        &.tool-queue-on {
          border-color: lighten(#6e2429, 30);
          background-color: lighten(#6e2429, 30);
        }
      }

      &:hover {
        background-color: rgb(54, 139, 196);
      }

      &:active {
        background-color: rgba(54, 139, 196, .8);
      }

      span {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}