@import '../scss/index';

.toolbar {
  margin-bottom: .8rem;
  padding: 1rem .75rem;
  display: flex;
  flex-flow: column;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .3);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .options {
    margin-bottom: 1rem;
    user-select: none;

    .option-title {
      display: inline-block;
      width: 95px;
    }

    .download-size-custom {
      padding: 0 .3rem;
      height: 24px;
      width: 60px;
      border: 1px solid $dark;
      border-radius: .25rem;
      font-size: 16px;
      color: #fff;
      outline: none;
      background-color: lighten(#3e4e56, 10);

      &:focus,
      &:hover {
        background-color: lighten(#3e4e56, 20);
      }
    }

    > div {
      width: 85px;
    }
  }

  .commands {
    display: flex;
    margin-bottom: 1rem;

    .tool-copylink-text {
      padding: 0 .5rem;
      width: 80%;
      min-width: 200px;
      font-size: 18px;
      color: #ccc;
      border: 1px solid $gray;
      background-color: $dark;
      border-radius: .25rem;
      outline: none;
    }

    .tool {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 .5rem;
      width: 120px;
      height: 40px;
      background-color: #3e4e56;
      border: 1px solid #bbb;
      border-radius: .25rem;
      box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, .5);
      outline: none;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: inherit;
      }

      &.tool-download {
        background-color: rgba($primary, .6);

        &:hover {
          background-color: rgba($primary, .8);
        }

        &:active {
          background-color: rgba($primary, .9);
        }
      }

      &.tool-copylink {
        background-color: rgba($success, .6);

        &:hover {
          background-color: rgba($success, .7);
        }

        &:active {
          background-color: rgba($success, .8);
        }
      }

      &.tool-queue {
        width: 130px;
        background-color: rgba($danger, .4);

        &:hover {
          background-color: rgba($danger, .6);
        }

        &.tool-queue-on {
          border-color: lighten($danger, 20);
          background-color: lighten($danger, 20);
        }
      }

      &:hover {
        background-color: rgba(#3e4e56, .4);
      }

      &:active {
        background-color: rgba(#3e4e56, .6);
      }

      span {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

#wrapper[data-locale='JP'] {
  .tool {
    width: 160px;

    span {
      font-size: 14px;
    }
  }
}