$dark: #20272a;
$black: #111;
$gray: #4a4f52;
$primary: #116fbf;
$danger: #e81423;
$danger-google: #dd4b39;
$success: #33a835;
$warning: #ffef59;
$light-black: rgba($black, .95);
$light-gray: #f0f2f5;
$light-warning: lighten($warning, 0);
