// /* 攻擊圖示 */
// $icon_charType__warrior: 'https://book.browndust.app/src/img/icon/icon_charType__warrior.png';
// $icon_charType__warrior: '/browndust-share/resource/icon/icon_charType__warrior.png';
$icon_charType__warrior: 'http://robby570.tw/browndust-share/resource/icon/icon_charType__warrior.png';
// /* 防禦圖示 */
// $icon_charType__defender: 'https://book.browndust.app/src/img/icon/icon_charType__defender.png';
// $icon_charType__defender: '/browndust-share/resource/icon/icon_charType__defender.png';
$icon_charType__defender: 'http://robby570.tw/browndust-share/resource/icon/icon_charType__defender.png';
// /* 魔法圖示 */
// $icon_charType__magician: 'https://book.browndust.app/src/img/icon/icon_charType__magician.png';
// $icon_charType__magician: '/browndust-share/resource/icon/icon_charType__magician.png';
$icon_charType__magician: 'http://robby570.tw/browndust-share/resource/icon/icon_charType__magician.png';
// /* 支援圖示 */
// $icon_charType__supporter: 'https://book.browndust.app/src/img/icon/icon_charType__supporter.png';
// $icon_charType__supporter: '/browndust-share/resource/icon/icon_charType__supporter.png';
$icon_charType__supporter: 'http://robby570.tw/browndust-share/resource/icon/icon_charType__supporter.png';