html,
body {
  padding: 0;
  margin: 0;
  background-color: #162028;
  font-family: "Segoe UI", "Microsoft JhengHei", Helvetica, Arial, Helvetica, sans-serif;
  color: #ffef59;
}

#header {
  font-size: 20px;
}

#header h1 {
  margin-bottom: 1rem;
}

#container .formation {
  position: relative;
  margin: 0 auto;
  height: 350px;
  width: 700px;
  background-image: url('images/formation_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: .25rem;
  /* border: 1px solid red; */
}

#container .formation .box {
  position: absolute;
  width: 103px;
  height: 103px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

/* 攻擊背景 */
#container .formation .box.ftype-1 {
  background-color: #6e2429;
}

/* 防禦背景 */
#container .formation .box.ftype-2 {
  background-color: #1763b4;
}

/* 魔法背景 */
#container .formation .box.ftype-3 {
  background-color: #3e3865;
}

/* 支援背景 */
#container .formation .box.ftype-4 {
  background-color: #80980f;
}

/* 14+120*(x-1)+11 */
.box[data-id='a-1'] {
  top: 9px;
  left: 13px;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2934icon.png');
}

.box[data-id='a-2'] {
  top: 9px;
  left: 128px;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2924icon.png');
}

.box[data-id='a-3'] {
  top: 9px;
  left: 242px;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2914icon.png');
}

.box[data-id='a-4'] {
  top: 9px;
  left: 356px;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2904icon.png');
}

#container .list {
  margin: .7rem auto;
  width: 700px;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, .2);
}

#container .types {
  padding: .8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  /* border: 1px solid red; */
}

#container .types .type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 45px;
  background-color: #3e4e56;
  border: 1px solid #bbb;
  border-radius: .25rem;
  box-shadow: 1px 1px 3px 2px rgba(20%, 20%, 40%, .5);
  outline: none;
  cursor: pointer;
}

#container .types .type.active {
  background-color: rgb(54, 139, 196);
}

#container .types .type span {
  font-size: 18px;
  color: #fff;
}

#container .types .type i {
  margin-top: 3px;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

#container .types .type.attacker i {
  background-image: url('https://book.browndust.app/src/img/icon/icon_charType__warrior.png');
}

#container .types .type.defender i {
  background-image: url('https://book.browndust.app/src/img/icon/icon_charType__defender.png');
}

#container .types .type.magician i {
  background-image: url('https://book.browndust.app/src/img/icon/icon_charType__magician.png');
}

#container .types .type.supporter i {
  background-image: url('https://book.browndust.app/src/img/icon/icon_charType__supporter.png');
}

#container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 1rem;
  padding: 0 .8rem .8rem;
  height: 100%;
}

#container .content .mercenary {
  margin: .4rem .25rem;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2924icon.png');
}