@import '../scss/index';

#dialog {
  position: absolute;
  padding: .3rem .75rem;
  width: 120px;
  border-radius: .5rem;
  background-color: rgba($dark, .95);
  border: 3px solid rgba(#ccc, 95);
  z-index: 999;

  h3 {
    text-align: center;
    color: #efefef;
  }

  .dialog-level {
    input {
      width: 97%;
      font-size: 16px;
    }

    button {
      margin: .5rem 0 .25rem;
      float: right;
      height: 25px;
      width: 60px;
      font-size: 16px;
      background-color: #ccc;
      border-radius: .25rem;
      border: none;
      outline: none;

      &:hover {
        background-color: #dedede;
        cursor: pointer;
      }

      &:active {
        background-color: #fff;
      }
    }
  }
}