.mercenary {
  display: inline-block;
  margin: .25rem .3rem;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: .5rem;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  cursor: pointer;

  &::before {
    float: left;
    margin: 2px 0 0 2px;
    padding: 1px;
    font-size: 12px;
    background-color: rgba(#000, .5);
    border-radius: .25rem;
    visibility: hidden;
    content: attr(data-tooltip);
  }

  &.show::before {
    visibility: visible;
  }

  &.bold::before {
    font-weight: bold;
  }
}
