.mercenary {
  margin: .4rem .25rem;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('https://ic-common.pmang.cloud/static/bdt_book/thumbnail/char2924icon.png');
}