@import '../../scss/index';

.notsupport {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-flow: column;

  h1 {
    margin: 1.25rem 0;
  }

  a {
    margin: 0 1rem;
    color: lighten($primary, 10);

    &:hover {
      color: lighten($primary, 25);
    }
  }
}
