@font-face {
  font-family: 'SeagullW01-Medium';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('SeagullW01-Medium'),
    url('./SeagullW01-Medium/Seagull W01 Medium.ttf') format('truetype');
}
