@import './scss/index';

#wrapper {
  padding-bottom: 3rem;
}

#wrapper[data-locale='JP'] {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Segoe UI', Helvetica, Arial, sans-serif;
}

#wrapper[data-locale='KR'] {
  font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', 'Segoe UI', Helvetica, Arial, sans-serif;
}

#container {
  margin: 0 auto;
  width: 1450px;

  @media only screen and (max-width: $screen-xl) {
    width: 100%;
  }

  .main {
    position: relative;
    float: left;
    margin: 0 .2rem 0 1rem;
    width: 700px;

    @media only screen and (max-width: $screen-xl) {
      float: none;
      margin: 0 auto;
    }
  }
}
