@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~csshake/dist/csshake.min.css';
@import './scss/index';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font;
  color: $light-warning;
  background-color: #162028;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
